.sidebar{
    width: 250px;
    height: 750px;
    background-color:#edf2ff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.general{
    margin-top: 20px;
    margin-bottom: 40px
}
.tools{
    margin-top: 20px;
}

h2{
    margin-bottom:20px;
    line-height: 1.6;
}
h4{
    font-size: 14px;
    color: #ced4da;
    /* margin-bottom: 20px; */
}
p{
    margin-bottom: 30px;
    margin-top: 0;
    color: #868e96 ;
    font-weight: 500;
}
.skyblue{
    color: #4dabf7;
}

.blue{
    color: #0f365b;
}
.settings{
    margin-top: 150px;
}